{% extends 'shared/new_layout.html' %}

{% block maincontent %}

<div class="homewrap">
    <div class="homecontent">
        <div class="bio">
            <img id="mepic" src="../static/main/images/new_headshot.jpg" alt="Picture of Andrew" title="Me!" loading="lazy" >
            <div class="hometext">
                <h1>Andrew T. Dagostino</h1>
                <h2>Full Stack Software Engineer at Ford Motor Company</h2>
                <hr>
                <h3>I'm a highly organized individual who excels at time management and I'm always eager to apply my knowledge of software
                    engineering in a workplace with other inspired individuals. I ask a lot of questions and love learning new skills
                to improve my versatility in the software engineering world. </h3>
                <div class="contact">
                    <div class="icontext">
                        <a href="mailto: andrewdag12@gmail.com"><img src="../static/main/images/emailAsset.png" alt="Email Icon" title="andrewdag12@gmail.com" loading="lazy"></a>
                    </div>
                    <div class="icontext">
                        <a href="https://www.linkedin.com/in/andrew-dagostino-58887022b/" target="_blank"><img src="../static/main/images/LinkedInAsset.png" alt="LinkedIn Icon" loading="lazy"></a>
                    </div>
                    <div class="icontext">
                        <a href="https://github.com/AndrewDag" target="_blank"><img id = "github" src="../static/main/images/github.png" alt="Github Icon" loading="lazy"></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="canvases">
        <div id = "oddcanvas" class="blankcanvas">
            <h1 id="canvash1">Skills</h1>
            <div class="techcolhome">
                <div class="skillwithname">
                    <img src="../static/main/images/python.png" alt="Python Logo" title="Python" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/html.png" alt="HTML Logo" title="HTML" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/Java-Logo.png" alt="Java Logo" title="Java" loading="lazy">
                </div>
            </div>
            <h3><strong>Python, HTML, CSS, Java, Flask, Agile</strong>, C++, Javascript, SQL, Terraform, C, ARM Assembly</h3>
        </div>
        <div class="blankcanvas">
            <h1 id="canvash1">Hobbies</h1>
            <div class="techcolhome">
                <div class="skillwithname">
                    <img src="../static/main/images/chess.jpg" alt="Chess King" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/coin.png" alt="Coin Icon" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/cooking.png" alt="Cooking Icon" loading="lazy">
                </div>
            </div>
            <h3>Chess, Coin Collecting, Cooking, Video Games, Basketball </h3>
        </div>
    </div>
</div>



{% endblock %}