{% extends 'shared/layout.html' %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block maincontent %}

<div id="outerbox">
    <div id="loginbox">
        <h1>Login</h1>
        <div id="formbox">
            <form id="loginform">
                <input type ='text' name='email' id="loginemail" placeholder="Your Email" autocomplete="off">
                <input type ='password' name='password' id="loginpassword" placeholder="Your Password" autocomplete="off">
                <input id="submitbutton" type='button' value="Sign In" onclick="checkCredentials()">
            </form>
        </div>
    </div>
</div>

<script>
let count = 0
function checkCredentials() {
    // package data in a JSON object
    let e = document.getElementById("loginemail").value;
    let p = document.getElementById("loginpassword").value;
    var data_d = {'email': e, 'password': p}

    //var data_d = {'email': 'dagost37@msu.edu', 'password': 'tester'}

    console.log('data_d', data_d)

    // SEND DATA TO SERVER VIA jQuery.ajax({})
    jQuery.ajax({
        url: "/processlogin",
        data: data_d,
        type: "POST",
        success:function(retruned_data){
              retruned_data = JSON.parse(retruned_data);
              console.log("DATA:", retruned_data
              )
              if(retruned_data['success'] === 0)
              {
                document.cookie = "email=" + e;
                window.location.href = "/home";
              }
              else if(retruned_data['success'] === 1)
              {
                document.cookie = "email=" + e;
                window.location.href = "/nft";
              }
              else
              {
                count += 1
                // Creates the element
                if(count === 1)
                {
                    var tag = document.createElement("p");
                    var text = document.createTextNode("Incorrect Username or Password: " + count);
                    tag.appendChild(text);
                    var element = document.getElementById("loginbox");
                    element.appendChild(tag);

                    tag.setAttribute("id", "attempts");
                }
                // Updates the text to add one to the count
                else
                {
                    var element = document.getElementById("attempts").innerHTML = "Incorrect Username or Password: " + count;
                }
                // Resets form inputs
                document.getElementById("loginform").reset(); 
              }
            }

    });
}
</script>
{% endblock %}


