{% extends 'shared/new_layout.html' %}

{% block maincontent %}
<div class="projectcontent">
    <h1>COLLABORATIVE DESIGN</h1>
    <hr>
    <div class="projectwrap">
        <div class="projectwithimage">
            <div class="companytime">
                <h2>AI-Based Chat Service</h2>
                <p id="datetext">8/23 - 12/23</p>
            </div>
            
            <img id='mainimage' src="../static/main/images/rpm-logo.jpg" alt="RPM Logo" loading="lazy">
            <h3>Summary</h3>
            <p>As apart of the Michigan State University Computer Science Capstone experience, I am working with RPM, a supply chain
                and logistics company, to develop an AI Chatbot that would help improve their customer efficiency and reduce
                the need for a 24/7 on-call representitive. The Chatbot is a backend service that will give dynamic responses to users and offer a variety of different
                questions that it can answer. The Chatbot will be able to answer FAQ-style questions, but it also has the ability to pull
                information off of RPM's Turvo database. This database is a .NET C# database that holds information about RPM's shipments, orders, and more.
                The Chatbot will be able to recieve the information from the database through API calls to the Turvo database and report it back to the user.
            </p>
            
            <h3>Skills</h3>
            <div class="techcol">
                <div class="skillwithname">
                    <img src="../static/main/images/ChatGPT-Logo.png" alt="ChatGPT Logo" title="ChatGPT" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/html.png" alt="HTML Logo" title="HTML" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/css.png" alt="CSS Logo" title="CSS" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/python.png" alt="Python Logo" title="Python" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/flask.png" alt="Flask Logo" title="Flask" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/jinja.png" alt="Jinja Logo" title="Jinja" loading="lazy">
                </div>
        </div>
    <h1>WEB DEVELOPMENT ARCHITECTURE</h1>
    <hr>
    <div class="projectwrap">
        <div class="projectwithimage">
            <div class="companytime">
                <h2>Personal Website</h2>
                <p id="datetext">1/23 - 5/23</p>
            </div>
            
            <img id='mainimage' src="../static/main/images/oldwebsite.png" alt="Old Website" loading="lazy">
            <h3>Summary</h3>
            <p>During CSE 477 I developed a personal website that made use of HTML, CSS, Javascript, Jinja, SQL,  and Python's Flask. <br><br>
                Some of the features of the website include a Javascript piano, a login and sign up system, and an NFT Marketplace with a transaction history system that uses SQL tables to store the information.
                It is directly accessible from this website, and you can view the website <a href="/home">here.</a><br><br>
                Unfortunately due to limitations of the service I am using to host this website, the NFT marketplace is not functional.
                Although, every other feature should work just fine.
            </p>
            
            <h3>Skills</h3>
            <div class="techcol">
                <div class="skillwithname">
                    <img src="../static/main/images/html.png" alt="HTML Logo" title="HTML" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/css.png" alt="CSS Logo" title="CSS" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/javascript.png" alt="Javascript Logo" title="Javascript" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/python.png" alt="Python Logo" title="Python" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/flask.png" alt="Flask Logo" title="Flask" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/jinja.png" alt="Jinja Logo" title="Jinja" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/sql.png" alt="SQL Logo" title="SQL" loading="lazy">
                </div>
        </div>
    </div>
    <h1>OBJECT-ORIENTED SOFTWARE DESIGN</h1>
    <hr>
    <div class="projectwrap">
        <div class="projectwithimage">
            <div class="companytime">
                <h2>Project 2</h2>
                <p id="datetext">4/22 - 5/22</p>
            </div>
            
            <div class="youtube">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/tKrkQ1l-kzU?si=2OR-PBHYt-p-0bJO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/djT3WWAP17s?si=eVcOpKEwrY6BoLOq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h3>Summary</h3>
            <p>Project 2 was the final project of the CSE 335 and had two parts. First, a UML 
                diagram was created for the program. This was done collaboratively in a group. <br><br>
                The second part was the implementation of 
                "Harold Frankenstein's Infernal Laboratory" which was an adapted keyframe 
                animation maker as well as a laboratory with timed elements. These elements of the background would change 
                depending on the time of the animation and there was a power system that allowed for connection between 
                background elements. <br><br>
                This project encompassed new patterns like the Composite, Observer, and Factory, as well 
                as the implementation of a UML design into code.
            </p>
            
            <h3>Skills</h3>
            <div class="techcol">
                <div class="skillwithname">
                    <img src="../static/main/images/C++.png" alt="C++ Logo" title="C++" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/UML.png" alt="UML Logo" title="UML" loading="lazy">
                </div>
        </div>
    </div>
    <hr>
    <div class="projectwrap">
        <div class="projectwithimage">
            <div class="companytime">
                <h2>Project 1</h2>
                <p id="datetext">2/22 - 3/22</p>
            </div>
            
            <div class="youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SNyntsxreLo?si=KltWyihSTHfKmiEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h3>Summary</h3>
            <p>Project 1 was a collaborative project of CSE 335 where we worked on creating a platformer video game through the Agile software development cycle. <br><br>
                Changes were submitted through GitHub and we had several meetings a week to discuss the current state of the project, allowing us to divide the work between all members of the team. <br><br>
                We also made use of XML files to dynamically load in the levels of the game.
            </p>
            
            <h3>Skills</h3>
            <div class="techcol">
                <div class="skillwithname">
                    <img src="../static/main/images/C++.png" alt="C++ Logo" title="C++" loading="lazy">
                </div>
                <div class="skillwithname">
                    <img src="../static/main/images/agile.png" alt="Agile Logo" title="Agile" loading="lazy">
                </div>
        </div>
    </div>
</div>




{% endblock %}