{% extends 'shared/layout.html' %}

{% block maincontent %}

<div class="nftmain">
    <h1>Your Tokens: ${{tokens}}</h1>

    <div class="nftbuttons">
        <button type="button" onclick="showForm('buyform')">BUY</button>
        {% if session['role'] != 'guest' %}
            <button id='adminbutton' type="button" onclick="showForm('nfthistory')">Blockchain History</button>
        {% endif %}
    </div>  

    <p id="attempts">{{error}}</p>
    {% if session['role'] != 'guest' %}
        <p id="adminmessage">Displaying all NFT's for Administrator (including your own)</p>
    {% endif %}

    {% if session['role'] != 'guest' %}
    <div class="usernfts">
        {% for nft in allnfts %}
            <div class="nftbox"> 
                <h3>ID: {{nft['nft_id']}}</h3>
                <img src="../static/nft_images/{{nft['name']}}" alt="{{nft['name']}}" title="{{nft['name']}}" loading="lazy">
                <div class="nftelements">
                    <h3 id="token_amount" class="tokens">TOKENS: ${{nft['token_amount']}}</h2>
                    <h3 id="description">{{nft['description']}}</h3>
                    
                </div>
            </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="usernfts">
        {% for nft in usernfts %}
            <div class="nftbox"> 
                <h3>ID: {{nft['nft_id']}}</h3>
                <img src="../static/nft_images/{{nft['name']}}" alt="{{nft['name']}}" title="{{nft['name']}}" loading="lazy">
                <div class="nftelements">
                    <h3 id="token_amount" class="tokens">TOKENS: ${{nft['token_amount']}}</h2>
                    <h3 id="description">{{nft['description']}}</h3>
                    
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="feedbackbox" id="buyform">
    <div class="feedback">
        <form id='nfteditform' class="feedbackform" action="/processbuy" method="post">
            <input type="text" name='id' placeholder="ID of NFT You are Buying" autocomplete="off">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="feedbackbox" id="nfthistory">
    <div class="feedback">
        <form id='nfteditform' class="feedbackform" action="/processhistory" method="post">
            <input type="text" name='id' placeholder="ID of NFT" autocomplete="off">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>


{% endblock %}