.navcontainer { /* For all navigation elements */
    text-align: right;  
    overflow: hidden;
    max-height: 125px;

}

.navbar {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    max-height: 125px;
    display: inline-block;  /* allows a width and height on navigation bar*/
}

.navbar ul {                /* Entire navbar elements */
    list-style-type: none;
    margin-right: -60px;
}

.navbar li {                /* individual navbar elements */
    display: inline;
    position: relative;
    bottom: 8px;
    padding: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8em;
}

.txt    /* This is specifically for the non-image parts of the navigation bar */
{
    position: relative;
    bottom: 20px;
}

.navbar a { /* This is to make sure the links stay white when visited */
    color: #FFFFFF;
    text-decoration: none;
}

.navbar li:hover
{
    opacity: 0.5;
}

.navwords               /* The homework assignment title on the navbar */
{
    position: relative;
    top: 50px;
    left: 20px;
    color: #FFFFFF;
    text-align: left;
}

#dropbutton /* Button for dropdown menu */
{
    visibility: hidden;
    margin: 0;
    padding-bottom: 8px;


}

#dropbuttonnft /* Button for nft dropdown menu */
{
    visibility: hidden;
    margin: 0;
}

#dropdownbox    /* Box that contains dropdown menu */
{
    display: none;
    width: 99.5%;
    flex-direction: column;
    height: 500px;
    border: 2px solid #000000;
    position: absolute;
    background-color: #696969;
    text-align: center;
    visibility: hidden;
    z-index: 99;

}

#dropdownboxnft    /* Box that contains dropdown menu */
{
    display: none;
    width: 99.5%;
    flex-direction: column;
    height: 420px;
    border: 2px solid #000000;
    position: absolute;
    background-color: #696969;
    text-align: center;
    visibility: hidden;
    z-index: 99;

}

#dropdownbox hr 
{

    height: 1px;
    padding: 1px;
    background-color: #FFFFFF;
}

.droptxt                    /* Text on the dropdown menu */
{
    padding: 25px;
    text-decoration: none;
    color: #FFFFFF;
}

.droptxt:hover
{
    opacity: 0.5;
}

@media screen and (max-width: 650px)
{
     .navbar ul
     {
        visibility: hidden;
        margin-right: 20px;
     }
     #dropbutton
     {
        visibility: visible;
        position: absolute;
        border: none;
        outline: none;
        background-color: inherit;
        right: 10px;
        bottom: 0px;
        

     }
     #dropbutton img
     {
        display: inline;
     }

     #dropbuttonnft
     {
        visibility: visible;
        position: absolute;
        border: none;
        outline: none;
        background-color: inherit;
        right: 10px;
        top: 0px
        

     }
     #dropbuttonnft img
     {
        display: inline;
     }

     #dropdownbox
     {
        visibility: visible;
     }

}

