.processbox
{
    width: 100%;
    height: 3%;

    display: flex;
    flex-direction: row;

    text-align: justify;

    margin-left: 3%;

    padding: 10px;

    max-width: 90%;


}

.processbox p
{
    margin: 0;
    padding-left: 5px;
    padding-top: 11px;

    word-wrap: break-word;  /** Breaks the feedback when it gets too long **/

    overflow: auto;
}

.processbox h1
{
    margin: 0;
    padding: 8px;

    white-space: nowrap;
}

#feedtitle
{
    margin-left: 2%;
    font-weight: bold;
    font-size: 30px;

    color: rgb(0, 28, 167);
}